  <div class="container">
  <div class="row">
    <div class="col-xs-12">
      <img src="" alt="" class="img-resposive">
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 mb-2">
      <h3>Recipie Name</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="btn-group">
        <button type="button"
                class="btn btn-primary dropdown-toggle mb-2">
                Manage Recipie <span class="caret"></span>
      </button>

      <ul class="dropdown-menu">
        <li><a href="#" class="href">To Shopping List</a></li>
        <li><a href="#" class="href">Edit Recipie</a></li>
        <li><a href="#" class="href">Delete Recipie</a></li>
      </ul>
      </div>
    </div>
  </div>

  <div class="rox">
    <div class="col-xs-12">
      <h4>Description</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h4>Ingredients</h4>
    </div>
  </div>
</div>
