  <div class="container">
  <div class="row">
    <div class="col-xs-12">
      <img [src]="receivedRecipie.imagePath" alt="" class="img-resposive" style="max-height: 50px;">
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 mb-2">
      <h3>{{receivedRecipie.name}}</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="btn-group" role="group">
        <button type="button"
                class="btn btn-primary dropdown-toggle mb-2"
                data-bs-toggle="dropdown" aria-expanded="false">
                Manage Recipie <span class="caret"></span>
        </button>
        <!-- removed href="#" as it relods the page -->
        <ul class="dropdown-menu">
          <li><a class="href dropdown-item" (click)="onAddToShoppingList()" style="cursor:pointer">To Shopping List</a></li>
          <li><a style="cursor: pointer;" class="href dropdown-item" (click)="onClickEditRecipie()">Edit Recipie</a></li>
          <li><a style="cursor: pointer;" class="href dropdown-item">Delete Recipie</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="rox">
    <div class="col-xs-12">
      <h4>{{receivedRecipie.description}}</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h4>Ingredients</h4>
      <div class="div">
        <ul class="list-group">
            <li class="list-group-item" #shoppingIngredients *ngFor="let ingredients of receivedRecipie.ingredients"> {{ingredients.name}} - {{ingredients.amount}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
